.Formcontainer {
  @apply rounded-[10px] py-7 px-10 lg:py-10 lg:w-[90%] lg:px-16;
  background-image: url("/images/bg-boost-desktop.svg");
  //   background-image: url("/images/bg-boost-mobile.svg");
  background-color: hsl(257, 27%, 26%);
  //   min-height: 50vh;
  background-size: cover;
  background-position: center;
  form {
    @apply flex  items-center gap-5  w-[100%] m-auto flex-col lg:flex-row;
    input {
      @apply py-3 lg:py-0 lg:h-[51px] rounded-md px-5 outline-none text-gray-500 w-full;
    }
    button {
      @apply flex w-full lg:w-[30%]  text-center items-center justify-center;
    }
  }
}
// w-[30%] lg:w-auto
